.ass-table {
    width: 90%;
    border-collapse: collapse;
    margin :0 auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); 
    padding: 15px; 
    border-collapse: collapse; 
    border-spacing: 1; 
    border-radius: 0.5rem; 
    line-height: 2rem;
  }
  .ass-table th{
    font-size: 1rem;
    background-color: #87CEFA;
    color: #000;
    text-transform: uppercase;
    border-bottom: 2px solid #87CEFA; 
  }

  .ass-table th:first-child {
    border-top-left-radius: 0.5rem;
  }
  
  .ass-table th:last-child {
    border-top-right-radius: 0.5rem;
  }
  
  .ass-table th,
  .ass-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    white-space: normal;
  }
  
  .ass-table th:nth-child(1),
  .ass-table td:first-child {
    width: 15%; 
    min-width: 90px;
  }
  
  .ass-table th:nth-child(2),
  .ass-table td:nth-child(2){
    width: 15%;
    min-width: 90px;
  }

  .ass-table th:nth-child(3),
  .ass-table td:nth-child(3) {
    width: 30%;
    min-width: 130px;
    /* text-align: center; */
  }
  .ass-table th:nth-child(4),
  .ass-table td:nth-child(4) {
    width: 25%;
    min-width: 120px;
    /* text-align: center; */
  }

  .ass-table th:nth-child(5),
  .ass-table td:nth-child(5){
    width: 15%;
    min-width: 100px;
    text-align: center;
    white-space: nowrap;
  }
  
  .ass-table .buttongroup-in-table button {
    margin: 0 3px;
    padding: 5px 8px;
  }
  

  .btn-recover{
    border-radius: 5px;
    width: 2.5rem;
    background-color: #42bd41;
    color: white;
    border: none;
  }

  .ass-table th i.bi-caret-up-fill,
.ass-table th i.bi-caret-down-fill {
  color: #757575; 
}