.contentinass{
    width: 80%; 
	margin :0 auto;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); 
	/* line-height: 50px;  */
	padding: 1%; 
	border-collapse: collapse; 
	border-spacing: 1; 
	border-radius: 10px; 
	position: relative;
	overflow: hidden;
    border: 1px solid #eaeaea;

  }
  .contentgraph {
    /* flex: 1; */
    /* width: 700px;
    height: 100%; */
    width: 32%;
    margin-bottom: 1rem;
    padding: 2%;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #eaeaea;

  }

  .contentgraphs {
    margin :1rem auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

.custom-chart {
  width: 80%;
  height: 100%;
}

.custom-tooltip {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;

}

.contentgraph .recharts-wrapper {
  width: 100%;
  height: 100%;
}


  .contentgraph .recharts-responsive-container {
    margin: 0 auto;
  }

  .contentgraph .h3 {
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .contentgraph .text {
    margin-bottom: 20px;
    color: #555;
    text-align: center;

  }
  
  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .contentgraph .h3 {
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
  }
  .textgraph {
    font-size: 14px;
    color: #333;
    text-align: center;
    /* font-family: Arial, sans-serif; */
  }

  

