.password-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .password-container input {
    width: 100%;
    padding-right: 40px; /* เพิ่มระยะให้ input มีพื้นที่สำหรับไอคอน */
    box-sizing: border-box;
  }
  
  .password-container .toggle-password {
    position: absolute;
    right: 10px; /* ตำแหน่งไอคอนใน input */
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: #6c757d; /* สีไอคอน */
    transition: color 0.3s;
  }
  
  .password-container .toggle-password:hover {
    color: #000; /* สีไอคอนเมื่อ hover */
  }
  
  
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
  
  input[type="password"]::-webkit-clear-button,
  input[type="password"]::-webkit-inner-spin-button,
  input[type="password"]::-webkit-outer-spin-button,
  input[type="password"]::-webkit-reveal-button {
    display: none;
  }
  /* ตำแหน่งของไอคอนที่สร้างเอง */
  .password-input {
    position: relative;
  }
  
  .password-input input {
    padding-right: 30px; /* เผื่อพื้นที่สำหรับไอคอน */
  }
  
  .password-input i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
  }
  
  .password-input i:hover {
    color: #495057;
  }