.containerprofile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.formcontainerpf {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #87CEFA;  
  width: 60%;
  border-radius: 1rem;
  padding: 2rem;
  margin: 30px auto;
}


.title{
    margin-top: 2rem;
}

/* ปุ่มบันทึก */
.save{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.btnsave:link{
    background-color: #87CEFA;
}

.btnsave:hover{
    background-color: #87CEFA;
    color: #ffffff;
    border-color: #87CEFA;
}

.textbox{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  text-decoration: none;
  color: rgb(72, 72, 72);
  border: 1px solid rgb(228, 228, 228);
  padding: 7px;
  border-radius: 8px;
}
.button-group {

    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 10px; 
  }
  
  .custom-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .custom-btn:hover {
    opacity: 0.9; 
  }
  
  .edit-btn {
    background-color: #ffc107; 
    color: #000000;

  }
  
  .edit-btn:hover {
    background-color: #e0a800; 
  }
  
.password-btn {
  background-color: #007bff; 
  color: white; /* สีน้ำเงินสำหรับ 'เปลี่ยนรหัสผ่าน' */
}

.password-btn:hover {
  background-color: #0056b3; /* สีน้ำเงินเข้มขึ้นเมื่อ hover */
}

 
.email-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  width: 100%;
}

.email-container .verify {
  white-space: nowrap; 
  margin-left: auto; 
  text-decoration: none;
  cursor: pointer;
  color: #007bff;
}

.email-container .verify:hover {
  color: #0056b3;
}

.email-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 1120px) {
  .formcontainerpf {
      width: 75%; 
  }
}

@media screen and (max-width: 992px) {
  .formcontainerpf {
      width: 90%; 
      padding: 1.5rem;
  }

  .email-container {
      flex-direction: column; 
      align-items: flex-start;
  }

  .email-container .verify {
      margin-left: 0;
      margin-top: 5px;
  }
  .custom-btn{
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 767px) {
  .formcontainerpf {
      padding: 1rem;
  }

  .email-container {
      flex-direction: column;
      align-items: flex-start;
  }

  .email-container .verify {
      width: 100%; 
      text-align: center;
      margin-top: 5px;
  }
  .button-group {
    flex-direction: column;
    width: 100%;
}

.custom-btn {
    width: 100%;
    text-align: center;
}
}

