.bodychat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.sidebar.active ~ .home_contentchat{
  width: calc(100% - 78px);
  left: 78px;
}
.home_contentchat {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: calc(100% - 330px);
  left: 320px;
  transition: all 0.5s ease;
}
.home_contentchat .toolbar {
  float: right;
  margin-right: 250px;
  line-height: 40px;
}
.home_contentchat .toolbar p{
  text-align: center;
}
.home_contentchat h3{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 30px;
}
.home_contentchat .breadcrumbs{
  margin-left: 28px;
}

.home_contentchat .header{
  font-size: 25px;
  font-weight: 600;
  margin: 20px;
}
.header {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

/* .profile_details {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
} */

.contentchat {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.contentinchat {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* .search-bar1 {
  padding: 3%;
  border-bottom: 1px solid #ddd;
} */

/* .search-text1 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
} */

/* .search-text1:focus {
  border-color: #87CEFA;
} */

.user-list {
  overflow-y: auto;
  max-height: calc(100vh - 100px);
  max-width: calc(82vh - 10vh);
  border-right: 1px solid #ccc;
  /* padding: 10px; */
  box-sizing: border-box;
  /* background-color: #f9f9f9; */
  position: relative;
}

.user-list::after {
  content: '';
  display: block;
  height: 20px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.user-list div {
  /* border-bottom: 1px solid #f0f0f0; */
  cursor: pointer;
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  transition: background-color 0.3s ease-in-out;
}
/* 
.user-list div:hover,
.user-list div:active {
  background: #f0f0f0;
} */


.user-list .user-item:hover {
  background: #f0f0f0;
  color: black;
}

.user-list .user-item.selected,
.user-list .user-item.selected:hover,
.user-list .user-item.selected:active {
  background: #e7f6ff;
  color: black;
}
.user-list .user-item.selected {
  background: #e7f6ff;
  color: black;
}

.chat-window {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-left: 1px solid #ddd;
  max-height: 100vh;
  overflow: hidden;
}




.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.chat-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.chat-message p {
  margin-left: auto;
  margin-right: auto;
}

.chat-message.received .message-content {
  background-color: #f1f0f0;
  align-self: flex-start;
}



.chat-form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  /* margin-right: 10px; */
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.chat-form input[type="text"]:focus {
  border-color: #87CEFA;
}



.chat-message .message-container {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  border-radius: 20px;
  max-width: 50vh;
  flex-wrap: wrap;
  word-break: break-word; /* This will ensure that long words are broken to fit within the container */
}

.chat-message.sent .message-container {
  align-self: flex-end;
}

.chat-message.received .message-container {
  align-self: flex-start;
}

.chat-message .message-content {
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f1f0f0;
  color: black;
  flex-grow: 1; 
  /* margin-right: 10px; */
}

.chat-message.sent .message-content {
  background-color: #87CEFA;
  color: white;
}


/* .chat-message.sent .message-container .message-time {
  margin-right: 5px;
} */

.chat-message.received .message-container .message-time {
  margin-left: 5px;
}

.search-bar1 {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-text1 {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  transition: border 0.3s ease;
}

.search-text1:focus {
  outline: none;
  border-color: #87CEFA;
}

/* chat-header styling */
.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 20px;
  /* color: white; */
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-header span {
  font-weight: bold;
}

/* .last-message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

} */

.user-info {
  padding: 1rem 2rem;
  position: relative; /* Add this */
}

.last-message {
  display: flex;
  color: #999;
  align-items: center;
}

.message-contentuser {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
  display: inline-block;
}

.message-timeuser {
  margin-left: 2%;
}

.unread-dot {
  width: 2vh;
  height: 2vh;
  background-color: #87CEFA;
  border-radius: 50%;
  position: absolute;
  right: 1rem; /* Adjust as necessary */
  top: 50%;
  transform: translateY(-50%);
}

.bold-text {
  font-weight: bold;
  color: #000;
}




.message-container {
  display: flex;
  align-items: center;
}

.content-time-wrapper {
  display: flex;
  align-items: flex-end;
}
.message-status {
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  flex-shrink: 0;
  justify-content: flex-end;
}
.status-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  flex-shrink: 0;
  justify-content: flex-end;
  margin-right: 5px;
}

.message-content {
  padding: 10px;
  background-color: #f1f0f0;
  border-radius: 20px;
  font-size: 14px;
  /* margin-right: 10px; */
  flex-grow: 1;
}

.message-time {
  font-size: 12px;
  color: #999;
  white-space: nowrap;
  flex-shrink: 0;
  justify-content: flex-end;
}


/* Chat form styling */


.chat-form {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #87CEFA;
  gap: 10px;
}
.message-div-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-form textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  width: 100%;
  box-sizing: border-box;
  resize: none; /* Disable the default resize handle */
}

textarea{
  width: 100%;
  background-color: #fff;
  min-height: 1em; 
  /* max-height: 4em;  */
  /* overflow-y: auto; */

}
.chat-form textarea:focus {
  border-color: #fff;
}

.chat-form button {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.chat-form button:hover {
  transform: scale(1.1);
}

.chat-form button i {
  font-size: 1.5em;
  color: #fff;
}

.file-input-wrapper {
  position: relative;
  display: inline-block;
}

.file-input-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-input-wrapper label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.file-input-wrapper label:hover {
  transform: scale(1.1);
}

.file-input-wrapper i {
  font-size: 1.5em;
  color: #fff;
}
.image-preview {
  width: 100px; 
  height: 100px; 
  overflow: hidden;
}

.image-preview img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.image-preview {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 1px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.delete-button:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}
.message-img {
  width: 30vh;
  height: 30vh;
  object-fit: cover;
  object-position: center; 
  border-radius: 8px; 
}

.message-content-img {
  display: flex; 
  justify-content: flex-end;
  align-self: flex-end;
  align-items: flex-end;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-contents {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  max-width: 90%;
  position: relative;
}

.modal-contents img {
  max-width: 100%; 
  max-height: 90vh; 
  margin-left: auto;
  margin-right: auto;
}

.close {
  color: #fff; 
  position: absolute;
  top: 10px; 
  right: 20px; 
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  background-color: #282828; 
  width: 40px; 
  height: 40px;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover,
.close:focus {
  background-color: #333; 
  color: #fff; 
  text-decoration: none;
  cursor: pointer;
}


.chat-message.sent .message-content .linkify{
  color: white;
}

.chat-message.received .message-content .linkify{
  color: black;
}


.linkify:hover {
  text-decoration: underline;
}
